{% load static  %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Landing Page</title>
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <link rel="stylesheet" href="{% static 'signuplogin.css' %}">
  <link rel="stylesheet" href="{% static 'path/to/font-awesome/css/font-awesome.min.css' %}">
  <script src="{% static 'https://use.fontawesome.com/fa77bb4dea.js' %}"></script>
  <meta name="viewport" content="width=device-width,initial scale=1.0">
  <script defer src="{% static 'main.js' %}"></script>
</head>


<body class="landing-page">
  <section class="one">
    <header>
      <div class="logo">YOUR <strong>WEBSITE</strong></div>
  </section>
  <section class="two">
    <div class="nav-bar">
      <nav>
        <li> <a href="#">Home</a></li>
        <li> <a href="#">About US</a></li>
        <li> <a href="#">Work</a></li>
        <li> <a href="#">Info</a></li>
        <li>
          <button class="get-started button" data-modal-target="#modal">GET STARTED</button>
        </li>
      </nav>
    </div>
  </section>
  </header>
  <section class="content three">
    <div class="left-side">
      <h1>Teamwork Design</h1>
      <p>All right. Well, I'll go ahead and send you my information right now and it'll
        have my email, my phone number so you can contact me anytime. And I'll
        check back with you maybe in a week and see how things are going, okay?
      </p>
       <button type="button" name="button">Learn More</button>
    </div>
  </section>

  <section class="four">
    <div class="right-side">
      <img class="mainsvg" src="{% static 'teampic.svg' %}" alt="" width="700px" style="z-index:1;">
    </div>
  </section>
  <a href="{% static 'https://icons8.com/icon/14307/lock' %}"></a>

  <!-- MODAL ART 1 -->


  <!-- SIGN UP -->
   <div class="modal" id="modal">
     <div class="modal-header">
       <button data-close-button class="close-button" name="button">&times;</button>
     </div>
     <div class="modal-body">
   <div class=" registerSlots twooo">
      <div class="sign-up-slot">
        <div class="header">
          <h4>
            <input type="checkbox" id="clicks" style="display:none"/>
            <label class="button" for="clicks">
              <a class="black button-theme" href="login">Login</a>
            </label>
            <a class="purple" href="#">SignUp</a>
          </h4>
        </div>
        <form action="register" method="post">
          {% csrf_token %}
          <label for=""><i class="fa fa-envelope-o"></i>E-mail</label><br>
          <input type="email" name="email" value="" required placeholder="Type Your Email"><br>

          <label for=""><i class="fa fa-lock" aria-hidden="true"></i>Password</label><br>
          <input class="radaa" type="password" name="password1" value="" placeholder=". . . . . . . ." required><br>


          <label for=""><i class="fa fa-lock" aria-hidden="true"></i>Re-type Password</label><br>
          <input class="radaa" type="password" name="password2" value="" placeholder=". . . . . . . ."><br>

      <div class="b">
          <input  type="checkbox" name=" " value=""><label for="">Remember Me!</label>
          <a href="#">Forgot Password?</a>
      </div>
          <button class="purple-button" >SIGN UP</button>
        </form>
        <!--I AM PRINTING ERROR MESSEGES TO THE PAGE-->
          {% if messages %}
            <ul class="messages"
            {% for message in messages %}
                <li class="{{ message.tags }}> {{ message }}</li>
                    {{ message }}
                </div>
            {% endfor %}
           {% endif %}

    </section>


    <section class="image">
  <!-- BACKGROUND IMAGE -->
    </section>
      </div>
    </div>
  </div>
  <div id="overlay">

  </div>


<!-- LOGIN -->
<!-- <div class="modal2">

    <div class="modal2__content">

              <div class=" registerSlots one">
                <section class="log-in-slot" id="log-in">

                  <div class="header">
                    <h4>
                      <a class="purple" href="#">Login</a>
                      <a class="black" href="#" data-modal-target="#modal">SignUp</a>
                    </h4>
                  </div>

                  <form class="log-in-form">

                    <input type="email" name="" value="" required placeholder="Email"><br>
                    <input type="password" name="" value="" placeholder="Password" required><br>

                    <button class="purple-button">LOG IN</button>
                    <label for="clicks" class="button">
                          <a class="button-theme" >Close</a>
                          </label>
                  </form>


            </section>

       <section class="image">
        BACKGROUND IMAGE
      </section>
   </div>

</div>
<div class="overlay2">

</div>
</div> -->

</body>

</html>
